@using SystemTask.Data.Models.ViewModel
@using System.Text
@model AllListViewModel

<table class="table  table-primary table-hover">


    <div class="row">

        @foreach (var item in Model.Tehnicals)
        {
        <thead>
            <tr>
                <th scope="col"></th>
                <th style="color : white" scope="col">Name</th>
                <th style="color : white" scope="col">Description</th>
                <th style="color : white" scope="col">Blocks</th>
                <th style="color : white" scope="col">Systems</th>
                <th style="color : white" scope="col">Creating Date</th>
                <th style="color : white" scope="col">Responsible Person</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="align-content-lg-stretch"></th>
                <td>@item.Name</td>
                <td>@item.Description</td>

                <td>
                        @foreach (var block in Model.TehnicalBlocks)
                        {
                            @if (block.TehnicalId == item.Id)
                            {
                            <p style="margin-bottom:0">@block.BlockName @block.Code</p>

                            }

                        }
                </td>

                <td>
                        @foreach (var system in Model.TehnicalSystems)
                        {
                            @if (system.TehnicalId == item.Id)
                            {
                            <p style="margin-bottom:0">@system.SystemName @system.Code</p>

                            }


                        }
                </td>

                <td>@item.DateAndTimeCreated</td>

                <td>
                        @foreach (var employee in Model.TehnicalEmployees)
                        {
                            @if (employee.TehnicalId == item.Id)
                            {
                            <p style="margin-bottom:0">@employee.Activity @employee.FirstName @employee.SurName @employee.LastName</p>
                            }

                        }
                </td>





            </tr>
        </tbody>
        }

</table>


</div>